.article-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  height: 100vh;
}

.section-contact,
.formulaire,
#success-message {
  /* width: 50%; */
  flex: 1;
}

.vertical-line {
  border: 1px solid black;
  height: 60vh;
}

.section-contact {
  margin: 20px;
}
.contact-title {
  margin: 15px 0px;
  font-weight: bolder;
}
.contact-text {
  margin: 5px 0px;
  font-size: large;
}

.formulaire {
  margin: 20px 0px;
  padding: 5px;
}

.input-format {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: small;
}

.input {
  margin: 5px 0px;
  accent-color: #ff6505;
  box-shadow: inset 0px 0px 3px 1px rgba(255, 101, 5, 0.7);
  height: 20px;
}

.lk {
  cursor: pointer;
  display: inline-block;
  margin: 20px 0px;
}

#success-message {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .formulaire {
  display: none;
}

input[type="checkbox"]:checked ~ #success-message {
  display: block;
  margin: 20px 0px;
  padding: 5px;
  text-align: center;
}

